/* index.css */
#new-book-form {
    display: flex;
    flex-direction: column;
    width: 20em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: steelblue;
    padding: 1%;
}

#new-book-form label {
    margin-bottom: 5px;
}

#new-book-form input {
    background: teal;
    border: 1px solid white;
    width: 90%;
    margin-bottom: 10px;
}

#submit {
    width: 100%;
    background: teal;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#submit:hover {
    background: turquoise;
}

#library {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.delete-book-btn {
    width: 100%;
    background: crimson;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.delete-book-btn:hover {
    background: darkred;
}
